small{
    color: var(--bs-link-color);
    text-decoration: underline;
}
small:hover{
    text-decoration: none;
    opacity: 50%;
    cursor: pointer;
}

.middle{
    padding: auto;
    margin-left: 48%;
}

.emailVerification{
    background-color:gray;

}

.varification:click{
    visibility: hidden;

}
