<div class="home">
  <div class="row">
    <div class="col Welcome">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Welcome!</h5>
          <h6 class="card-subtitle mb-2 text-muted">View your profile</h6>
          <p class="card-text">
            You are invited to view your balance, actions hitsory and way more!
          </p>
          <a href="#" class="card-link">Account Status</a>
          <a href="#" class="card-link">History</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-info mb-3" style="max-width: 18rem">
        <div class="card-header">New Features</div>
        <div class="card-body">
          <h5 class="card-title">See updates</h5>
          <p class="card-text">
            Here you will see our latest features, and some quick examples and
            unstructions for your own convenience!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row card">
    <div class="card-header">Info</div>
    <div class="card-body">
      <h5 class="card-title">
        Open Banking and sharing your information online
      </h5>
      <p class="card-text">
        Sharing your banking information allows you to see all your bank
        accounts in one mobile app or online, analyse your spending and even
        allows you to make payments directly from your bank account. In this
        guide, we look at why you would share your information, what the
        benefits are and how to do it safely.
      </p>
      <a href="#" class="btn btn-primary">See more</a>
    </div>
  </div>
</div>
